# 1) Write a python program to display all the header tags from wikipedia.org

In [1]:
#1) Write a python program to display all the header tags from wikipedia.org.
#https://en.wikipedia.org/wiki/Main_Page

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [3]:
page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

In [4]:
soup=BeautifulSoup(page.content)
#soup

In [5]:
span = soup.find("span", id="Welcome_to_Wikipedia")
print(span.text)

Welcome to Wikipedia

In [6]:
url = 'https://en.wikipedia.org/wiki/Main_Page'
reqs = requests.get(url)
soup = BeautifulSoup(reqs.text, 'lxml')
print("List of all header tags with value:")
for heading in soup.find_all(["h1", "h2", "h3"]):
        print(heading.name + ' ' + heading.text.strip())

List of all header tags with value:
h1 Main Page
h1 Welcome to Wikipedia
h2 From today's featured article
h2 Did you know ...
h2 In the news
h2 On this day
h2 Today's featured picture
h2 Other areas of Wikipedia
h2 Wikipedia's sister projects
h2 Wikipedia languages
h2 Navigation menu
h3 Personal tools
h3 Namespaces
h3 Views
h3 Search
h3 Navigation
h3 Contribute
h3 Tools
h3 Print/export
h3 In other projects
h3 Languages

# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame

In [7]:
res=requests.get('http://www.imdb.com/chart/top')
soup=BeautifulSoup(res.text,"html.parser")

In [8]:
movies=soup.select('td.titleColumn')
#movies
movieInfo = movies[0].get_text()
print(movieInfo)
movie = (' '.join(movieInfo.split()).replace('.', ''))
print(movie)

      1.
      The Shawshank Redemption
(1994)

1 The Shawshank Redemption (1994)

In [9]:
#print(soup.select('td.posterColumn span[name=ir]'))
ratings=[rating_span.attrs.get('data-value')for rating_span in soup.select('td.posterColumn span[name=ir]')]
#print(ratings)

In [10]:
movies_details=[]
for index in range(0,100):
    movieInfo=movies[index].get_text()
    arrangMovieInfo=(' '.join(movieInfo.split()).replace('.',''))
    movieName=arrangMovieInfo[len(str(index))+1:-7]
    yearOfRelease=re.search('\((.*?)\)', movieInfo).group(1)
    movies_detail={"Name": movieName,
            "Rating": ratings[index],
            "Year of release": yearOfRelease
            }
    movies_details.append(movies_detail)
#movies_details

In [11]:
df = pd.DataFrame(movies_details)
df

                                 Name             Rating Year of release
0            The Shawshank Redemption  9.234735991903761            1994
1                       The Godfather  9.156596611379062            1972
2                     The Dark Knight  8.987567249522915            2008
3               The Godfather Part II   8.98455419830108            1974
4                        12 Angry Men  8.949379330451098            1957
..                                ...                ...             ...
95                             Jagten  8.255867668494561            2012
96  M - Eine Stadt sucht einen Mörder  8.254160387484333            1931
97                 North by Northwest  8.252121176283676            1959
98                       Idi i smotri  8.247588839437373            1985
99                            Vertigo  8.246661154550202            1958

[100 rows x 3 columns]

# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame

In [12]:
res=requests.get('https://www.imdb.com/india/top-rated-indian-movies')
soup=BeautifulSoup(res.text,"html.parser")

In [13]:
movies=soup.select('td.titleColumn')
#movies
movieInfo = movies[0].get_text()
print(movieInfo)
movie = (' '.join(movieInfo.split()).replace('.', ''))
print(movie)

      1.
      Rocketry: The Nambi Effect
(2022)

1 Rocketry: The Nambi Effect (2022)

In [14]:
#print(soup.select('td.posterColumn span[name=ir]'))
ratings=[rating_span.attrs.get('data-value')for rating_span in soup.select('td.posterColumn span[name=ir]')]
#print(ratings)

In [15]:
movies_details=[]
for index in range(0,100):
    movieInfo=movies[index].get_text()
    arrangMovieInfo=(' '.join(movieInfo.split()).replace('.',''))
    movieName=arrangMovieInfo[len(str(index))+1:-7]
    yearOfRelease=re.search('\((.*?)\)', movieInfo).group(1)
    movies_detail={"Name": movieName,
            "Rating": ratings[index],
            "Year of release": yearOfRelease
            }
    movies_details.append(movies_detail)
#movies_details

In [16]:
df = pd.DataFrame(movies_details)
df

                           Name             Rating Year of release
0    Rocketry: The Nambi Effect  8.526216907329333            2022
1                    Anbe Sivam  8.397677526743918            2003
2                       Golmaal  8.390000858531705            1979
3                       Nayakan  8.385723504049528            1987
4                      Jai Bhim  8.381270608255532            2021
..                          ...                ...             ...
95                       Angoor  8.013624910724099            1982
96              Rang De Basanti  8.013377078148407            2006
97  Baahubali 2: The Conclusion   8.01280563592472            2017
98                       Baasha  8.010534447986977            1995
99                    Virumandi  8.007587843980177            2004

[100 rows x 3 columns]

# 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [17]:
res=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup=BeautifulSoup(res.text,"html.parser")

In [18]:
results = soup.find_all('div', attrs={'class':'presidentListing'})
results

[<div class="presidentListing">
 <h3>Shri Ram Nath Kovind (birth - 1945)</h3>
 <p><span class="terms">Term of Office:</span> 25 July, 2017 to 25 July, 2022 </p>
 <p><a href="https://ramnathkovind.nic.in" target="_blank">https://ramnathkovind.nic.in</a></p>
 </div>,
 <div class="presidentListing">
 <h3>Shri Pranab Mukherjee (1935-2020)</h3>
 <p><span class="terms">Term of Office:</span> 25 July, 2012 to 25 July, 2017 </p>
 <p><a href="http://pranabmukherjee.nic.in" target="_blank">http://pranabmukherjee.nic.in</a></p>
 </div>,
 <div class="presidentListing">
 <h3>Smt Pratibha Devisingh Patil (birth - 1934)</h3>
 <p><span class="terms">Term of Office:</span> 25 July, 2007 to 25 July, 2012 </p>
 <p><a href="http://pratibhapatil.nic.in" target="_blank">http://pratibhapatil.nic.in</a></p>
 </div>,
 <div class="presidentListing">
 <h3>DR. A.P.J. Abdul Kalam (1931-2015)</h3>
 <p><span class="terms">Term of Office:</span> 25 July, 2002 to 25 July, 2007 </p>
 <p><a href="http://abdulkalam.nic.in" target="_blank">http://abdulkalam.nic.in</a></p>
 </div>,
 <div class="presidentListing">
 <h3>Shri K. R. Narayanan (1920 - 2005)</h3>
 <p><span class="terms">Term of Office:</span> 25 July, 1997 to 25 July, 2002 </p>
 </div>,
 <div class="presidentListing">
 <h3>Dr Shankar Dayal Sharma (1918-1999)</h3>
 <p><span class="terms">Term of Office:</span> 25 July, 1992 to 25 July, 1997 </p>
 </div>,
 <div class="presidentListing">
 <h3>Shri R Venkataraman (1910-2009)</h3>
 <p><span class="terms">Term of Office:</span> 25 July, 1987 to 25 July, 1992 </p>
 </div>,
 <div class="presidentListing">
 <h3>Giani Zail Singh (1916-1994)</h3>
 <p><span class="terms">Term of Office:</span> 25 July, 1982 to 25 July, 1987 </p>
 </div>,
 <div class="presidentListing">
 <h3>Shri Neelam Sanjiva Reddy (1913-1996)</h3>
 <p><span class="terms">Term of Office:</span> 25 July, 1977 to 25 July, 1982 </p>
 </div>,
 <div class="presidentListing">
 <h3>Dr. Fakhruddin Ali Ahmed (1905-1977)</h3>
 <p><span class="terms">Term of Office:</span> 24 August, 1974 to 11 February, 1977</p>
 </div>,
 <div class="presidentListing">
 <h3>Shri Varahagiri Venkata Giri (1894-1980)</h3>
 <p><span class="terms">Term of Office:</span> 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974</p>
 </div>,
 <div class="presidentListing">
 <h3>Dr. Zakir Husain (1897-1969)</h3>
 <p><span class="terms">Term of Office:</span> 13 May, 1967 to 3 May, 1969</p>
 </div>,
 <div class="presidentListing">
 <h3>Dr. Sarvepalli Radhakrishnan (1888-1975)</h3>
 <p><span class="terms">Term of Office:</span> 13 May, 1962 to 13 May, 1967</p>
 </div>,
 <div class="presidentListing">
 <h3>Dr. Rajendra Prasad (1884-1963) </h3>
 <p><span class="terms">Term of Office:</span> 26 January, 1950 to 13 May, 1962</p>
 </div>]

In [19]:
results[0]

<div class="presidentListing">
<h3>Shri Ram Nath Kovind (birth - 1945)</h3>
<p><span class="terms">Term of Office:</span> 25 July, 2017 to 25 July, 2022 </p>
<p><a href="https://ramnathkovind.nic.in" target="_blank">https://ramnathkovind.nic.in</a></p>
</div>

In [20]:
results[0].find('h3').text.strip("()")

'Shri Ram Nath Kovind (birth - 1945'

In [21]:
results[0].find('p').text.split(':',1)[1]

' 25 July, 2017 to 25 July, 2022 '

In [22]:
presidents_info=[]


for r in range(len(results)):
    pname=results[r].find('h3').text.split('(',1)[0].strip()
    term=results[r].find('p').text.split(':',1)[1].strip()
    president_info ={"Name":pname,"Term of office":term}
    presidents_info.append(president_info)
    
presidents_info

[{'Name': 'Shri Ram Nath Kovind',
  'Term of office': '25 July, 2017 to 25 July, 2022'},
 {'Name': 'Shri Pranab Mukherjee',
  'Term of office': '25 July, 2012 to 25 July, 2017'},
 {'Name': 'Smt Pratibha Devisingh Patil',
  'Term of office': '25 July, 2007 to 25 July, 2012'},
 {'Name': 'DR. A.P.J. Abdul Kalam',
  'Term of office': '25 July, 2002 to 25 July, 2007'},
 {'Name': 'Shri K. R. Narayanan',
  'Term of office': '25 July, 1997 to 25 July, 2002'},
 {'Name': 'Dr Shankar Dayal Sharma',
  'Term of office': '25 July, 1992 to 25 July, 1997'},
 {'Name': 'Shri R Venkataraman',
  'Term of office': '25 July, 1987 to 25 July, 1992'},
 {'Name': 'Giani Zail Singh',
  'Term of office': '25 July, 1982 to 25 July, 1987'},
 {'Name': 'Shri Neelam Sanjiva Reddy',
  'Term of office': '25 July, 1977 to 25 July, 1982'},
 {'Name': 'Dr. Fakhruddin Ali Ahmed',
  'Term of office': '24 August, 1974 to 11 February, 1977'},
 {'Name': 'Shri Varahagiri Venkata Giri',
  'Term of office': '3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974'},
 {'Name': 'Dr. Zakir Husain', 'Term of office': '13 May, 1967 to 3 May, 1969'},
 {'Name': 'Dr. Sarvepalli Radhakrishnan',
  'Term of office': '13 May, 1962 to 13 May, 1967'},
 {'Name': 'Dr. Rajendra Prasad',
  'Term of office': '26 January, 1950 to 13 May, 1962'}]

In [23]:
df=pd.DataFrame(presidents_info)
df

,Name,Term of office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [24]:
req=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup=BeautifulSoup(req.text,"html.parser")

In [25]:
#result=soup.find_all('tr',attrs={'class':'rankings-block__banner'})

#for table in soup.find_all('table'):
#    print(table.get('class'))

df=pd.DataFrame(columns=['Position','Team Name','Team Code','Matches','Points','Rating'])
table = soup.find('table', class_='table')
count=1
for row in table.tbody.find_all('tr'):    
    # Find all data for each column
    columns = row.find_all('td')
    if(columns!=[] and count<11):
        pos=columns[0].text.strip()
        team=columns[1].text.strip()
        team_name=team.split('\n',1)[0]
        team_code=team.split('\n',1)[1]
        matches=columns[2].text.strip()
        points=columns[3].text.strip()
        rating=columns[4].text.strip()
        df=df.append({'Position':pos,'Team Name':team_name,'Team Code':team_code,'Matches':matches,'Points':points,'Rating':rating},ignore_index=True)
        count+=1

In [26]:
#a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

print('Top 10 ODI teams in men’s cricket along with the records for matches, points and rating')
df

Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

  Position     Team Name Team Code Matches Points Rating
0        1   New Zealand        NZ      19  2,355    124
1        2       England       ENG      27  3,226    119
2        3         India       IND      31  3,447    111
3        4      Pakistan       PAK      22  2,354    107
4        5     Australia       AUS      25  2,548    102
5        6  South Africa        SA      21  2,111    101
6        7    Bangladesh       BAN      30  2,753     92
7        8     Sri Lanka        SL      29  2,658     92
8        9   West Indies        WI      41  2,902     71
9       10   Afghanistan       AFG      18  1,238     69

# 5 b) Top 10 ODI Batsmen along with the records of their team and rating

In [27]:
#b) Top 10 ODI Batsmen along with the records of their team and rating.

data=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting').text
soup=BeautifulSoup(data,'html.parser')

In [28]:
df=pd.DataFrame(columns=['Position','Player Name','Team','Rating'])

In [29]:
for table in soup.find_all('table'):
    print(table.get('class'))
    
table = soup.find('table', class_='table rankings-table')

['table', 'rankings-table']

In [30]:
count=1
for row in table.find_all('tr'):    
    # Find all data for each column
    columns2 = row.find_all('td')
    if(columns2!=[] and count<11):
        pos=columns2[0].text.split('\n',1)[0]
        player_name=columns2[1].text.strip()
        team=columns2[2].text.strip()
        rating=columns2[3].text.strip()
        df=df.append({'Position':pos,'Player Name':player_name,'Team':team,'Rating':rating},ignore_index=True)
        count+=1
        
df

  Position            Player Name Team Rating
0                      Babar Azam  PAK    890
1           Rassie van der Dussen   SA    789
2                 Quinton de Kock   SA    784
3                     Imam-ul-Haq  PAK    779
4                     Virat Kohli  IND    744
5                    Rohit Sharma  IND    740
6                    David Warner  AUS    739
7                  Jonny Bairstow  ENG    732
8                     Ross Taylor   NZ    722
9                     Aaron Finch  AUS    706

# 5 c) Top 10 ODI bowlers along with the records of their team and rating.

In [31]:
#https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling
#b) Top 10 ODI Batsmen along with the records of their team and rating.

data=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling').text
soup=BeautifulSoup(data,'html.parser')

In [32]:
df=pd.DataFrame(columns=['Position','Player Name','Team','Rating'])
for table in soup.find_all('table'):
    print(table.get('class'))
    
table = soup.find('table', class_='table rankings-table')

count=1
for row in table.find_all('tr'):    
    # Find all data for each column
    columns2 = row.find_all('td')
    if(columns2!=[] and count<11):
        pos=columns2[0].text.split('\n',1)[0]
        player_name=columns2[1].text.strip()
        team=columns2[2].text.strip()
        rating=columns2[3].text.strip()
        df=df.append({'Position':pos,'Player Name':player_name,'Team':team,'Rating':rating},ignore_index=True)
        count+=1
        
df

['table', 'rankings-table']

  Position        Player Name Team Rating
0                 Trent Boult   NZ    720
1              Josh Hazlewood  AUS    678
2            Mujeeb Ur Rahman  AFG    676
3              Jasprit Bumrah  IND    662
4              Shaheen Afridi  PAK    661
5               Mohammad Nabi  AFG    657
6                Mehedi Hasan  BAN    655
7                 Rashid Khan  AFG    651
8                  Matt Henry   NZ    644
9           Mustafizur Rahman  BAN    640

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [33]:
req=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup=BeautifulSoup(req.text,"html.parser")

In [34]:
#result=soup.find_all('tr',attrs={'class':'rankings-block__banner'})

#for table in soup.find_all('table'):
#    print(table.get('class'))

df=pd.DataFrame(columns=['Position','Team Name','Team Code','Matches','Points','Rating'])
table = soup.find('table', class_='table')
count=1
for row in table.tbody.find_all('tr'):    
    # Find all data for each column
    columns = row.find_all('td')
    if(columns!=[] and count<11):
        pos=columns[0].text.strip()
        team=columns[1].text.strip()
        team_name=team.split('\n',1)[0]
        team_code=team.split('\n',1)[1]
        matches=columns[2].text.strip()
        points=columns[3].text.strip()
        rating=columns[4].text.strip()
        df=df.append({'Position':pos,'Team Name':team_name,'Team Code':team_code,'Matches':matches,'Points':points,'Rating':rating},ignore_index=True)
        count+=1

In [35]:
df

  Position     Team Name Team Code Matches Points Rating
0        1     Australia       AUS      29  4,837    167
1        2       England       ENG      33  4,046    123
2        3  South Africa        SA      35  4,157    119
3        4         India       IND      32  3,219    101
4        5   New Zealand        NZ      31  3,019     97
5        6   West Indies        WI      30  2,768     92
6        7    Bangladesh       BAN      12    930     78
7        8      Pakistan       PAK      30  1,962     65
8        9       Ireland       IRE      11    516     47
9       10     Sri Lanka        SL      11    495     45

# 6 b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [36]:
data=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting').text
soup=BeautifulSoup(data,'html.parser')

In [37]:
df=pd.DataFrame(columns=['Position','Player Name','Team','Rating'])

for table in soup.find_all('table'):
    print(table.get('class'))
    
table = soup.find('table', class_='table rankings-table')

count=1
for row in table.find_all('tr'):    
    # Find all data for each column
    columns2 = row.find_all('td')
    if(columns2!=[] and count<11):
        pos=columns2[0].text.split('\n',1)[0]
        player_name=columns2[1].text.strip()
        team=columns2[2].text.strip()
        rating=columns2[3].text.strip()
        df=df.append({'Position':pos,'Player Name':player_name,'Team':team,'Rating':rating},ignore_index=True)
        count+=1
        
df

['table', 'rankings-table']

  Position          Player Name Team Rating
0                  Alyssa Healy  AUS    785
1                   Beth Mooney  AUS    749
2                Natalie Sciver  ENG    747
3               Laura Wolvaardt   SA    732
4                   Meg Lanning  AUS    710
5                Rachael Haynes  AUS    701
6             Amy Satterthwaite   NZ    681
7                Tammy Beaumont  ENG    667
8           Chamari Athapaththu   SL    655
9               Smriti Mandhana  IND    649

# 6 c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [38]:
#https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder
data=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder').text
soup=BeautifulSoup(data,'html.parser')

In [39]:
df=pd.DataFrame(columns=['Position','Player Name','Team','Rating'])

for table in soup.find_all('table'):
    print(table.get('class'))
    
table = soup.find('table', class_='table rankings-table')

count=1
for row in table.find_all('tr'):    
    # Find all data for each column
    columns2 = row.find_all('td')
    if(columns2!=[] and count<11):
        pos=columns2[0].text.split('\n',1)[0]
        player_name=columns2[1].text.strip()
        team=columns2[2].text.strip()
        rating=columns2[3].text.strip()
        df=df.append({'Position':pos,'Player Name':player_name,'Team':team,'Rating':rating},ignore_index=True)
        count+=1
        
df

['table', 'rankings-table']

  Position       Player Name Team Rating
0             Natalie Sciver  ENG    379
1               Ellyse Perry  AUS    374
2             Marizanne Kapp   SA    349
3            Hayley Matthews   WI    339
4                Amelia Kerr   NZ    336
5           Ashleigh Gardner  AUS    270
6              Deepti Sharma  IND    252
7              Jess Jonassen  AUS    246
8            Katherine Brunt  ENG    220
9            Stafanie Taylor   WI    207

# 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

i) Headline

ii) Time

iii) News Link

In [40]:
req=requests.get('https://www.cnbc.com/world/?region=world')
soup=BeautifulSoup(req.text,"html.parser")

In [41]:
result=soup.find_all('li',attrs={'class':'LatestNews-item'})
#result

In [42]:
result[0]

<li class="LatestNews-iconCleared LatestNews-item" id="HomePageInternational-latestNews-6-0"><div class="LatestNews-container"><div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">11 Min Ago</time></span><img alt="watch live" class="LatestNews-watchLivePill LivePill-watchLivePill" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDciIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCA0NyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgNEMwIDEuNzkwODYgMS43OTA4NiAwIDQgMEg0M0M0NS4yMDkxIDAgNDcgMS43OTA4NiA0NyA0VjEyQzQ3IDE0LjIwOTEgNDUuMjA5MSAxNiA0MyAxNkg0QzEuNzkwODYgMTYgMCAxNC4yMDkxIDAgMTJWNFoiIGZpbGw9IiNGRjUwNTMiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04Ljk5OTczIDEwLjMxOTJDMTAuMjgwNSAxMC4zMTkyIDExLjMxODggOS4yODEwMyAxMS4zMTg4IDguMDAwNDFDMTEuMzE4OCA2LjcxOTc5IDEwLjI4MDUgNS42ODE2NCA4Ljk5OTczIDUuNjgxNjRDNy43MTg5NCA1LjY4MTY0IDYuNjgwNjYgNi43MTk3OSA2LjY4MDY2IDguMDAwNDFDNi42ODA2NiA5LjI4MTAzIDcuNzE4OTQgMTAuMzE5MiA4Ljk5OTczIDEwLjMxOTJaIiBmaWxsPSJ3aGl0ZSIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTQgOEM0IDEwLjc2MTYgNi4yMzg3MiAxMyA5IDEzQzExLjc2MTMgMTMgMTQgMTAuNzYxNiAxNCA4QzE0IDUuMjM4NDMgMTEuNzYxMyAzIDkgM0M2LjIzODcyIDMgNCA1LjIzODQzIDQgOFpNMTMuMjc2NiA3Ljk5OTY5QzEzLjI3NjYgMTAuMzYwNiAxMS4zNjIyIDEyLjI3NDggOS4wMDAzNyAxMi4yNzQ4QzYuNjM4NTIgMTIuMjc0OCA0LjcyNDEyIDEwLjM2MDYgNC43MjQxMiA3Ljk5OTY5QzQuNzI0MTIgNS42Mzg3NyA2LjYzODUyIDMuNzI0NjEgOS4wMDAzNyAzLjcyNDYxQzExLjM2MjIgMy43MjQ2MSAxMy4yNzY2IDUuNjM4NzcgMTMuMjc2NiA3Ljk5OTY5WiIgZmlsbD0id2hpdGUiLz4KPHBhdGggZD0iTTE3LjQ2OTIgMTIuMDAySDIyLjc0OTJWMTAuMjAySDE5LjUzMzJWMy45OThIMTcuNDY5MlYxMi4wMDJaIiBmaWxsPSJ3aGl0ZSIvPgo8cGF0aCBkPSJNMjQuMzAwOCAxMi4wMDJIMjYuMzY0OFYzLjk5OEgyNC4zMDA4VjEyLjAwMloiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0zMC40NDQ3IDEyLjAwMkgzMy4wMzY3TDM2LjA2MDcgMy45OThIMzMuNzIwN0wzMS43NDA3IDkuNzdMMjkuNzcyNyAzLjk5OEgyNy40MzI3TDMwLjQ0NDcgMTIuMDAyWiIgZmlsbD0id2hpdGUiLz4KPHBhdGggZD0iTTM3LjEzMTkgMTIuMDAySDQyLjk5OTlWMTAuMjYySDM5LjE5NTlWOC44MjJINDIuOTE1OVY3LjA3SDM5LjE5NTlWNS43MzhINDIuOTk5OVYzLjk5OEgzNy4xMzE5VjEyLjAwMloiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo="/><a class="LatestNews-headline" href="https://www.cnbc.com/2022/09/01/russia-tries-to-restore-supply-lines-in-southern-ukraine-north-korea-could-send-workers-to-rebuild-the-donbas.html" title="Shelling erupts as UN team heads to Ukraine nuclear plant, prompts emergency shutdown of reactor">Shelling erupts as UN team heads to Ukraine nuclear plant, prompts emergency shutdown of reactor</a></div></div></li>

In [43]:
result[0].find('time').text
result[0].find('a').text
result[0].find('a')['href']

'https://www.cnbc.com/2022/09/01/russia-tries-to-restore-supply-lines-in-southern-ukraine-north-korea-could-send-workers-to-rebuild-the-donbas.html'

In [44]:
news_info=[]

for r in range(len(result)):
    headline=result[r].find('a').text.strip()
    time=result[r].find('time').text.strip()
    news_link=result[r].find('a')['href']
    news={'HeadLine':headline,'Time':time,'News Link':news_link}
    news_info.append(news)
    
news_info

[{'HeadLine': 'Shelling erupts as UN team heads to Ukraine nuclear plant, prompts emergency shutdown of reactor',
  'Time': '11 Min Ago',
  'News Link': 'https://www.cnbc.com/2022/09/01/russia-tries-to-restore-supply-lines-in-southern-ukraine-north-korea-could-send-workers-to-rebuild-the-donbas.html'},
 {'HeadLine': 'Sri Lanka and IMF reach preliminary deal on $2.9 billion loan',
  'Time': '2 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/09/01/sri-lanka-and-imf-reach-preliminary-deal-on-2point9-billion-loan-.html'},
 {'HeadLine': 'What four-day workweeks are really like, according to companies trialing them',
  'Time': '2 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/09/01/how-four-day-workweeks-work-according-to-the-companies-trialing-them.html'},
 {'HeadLine': 'Europe’s evaporating rivers wreak havoc for food and energy production',
  'Time': '2 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/09/01/europes-evaporating-rivers-wreak-havoc-for-food-and-energy-production.html'},
 {'HeadLine': "The world's biggest offshore wind farm is now fully operational",
  'Time': '2 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/09/01/huge-offshore-wind-farm-hornsea-2-is-fully-operational-orsted-says.html'},
 {'HeadLine': 'European markets start September on a negative note; Stoxx 600 down 1%',
  'Time': '3 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/09/01/european-markets-open-to-close-data-news-earnings.html'},
 {'HeadLine': 'India’s 5G battle is set to be a ‘two-horse race,’ says ex-CEO of Bharti Airtel',
  'Time': '3 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/09/01/india-5g-race-will-be-between-reliance-and-bharti-airtel-sanjay-kapoor.html'},
 {'HeadLine': '', 'Time': '6 Hours Ago', 'News Link': '/pro/'},
 {'HeadLine': 'Google Flights just busted a popular myth about saving money on flights',
  'Time': '7 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/09/01/cheapest-airline-tickets-how-to-save-money-on-flights-and-airfare.html'},
 {'HeadLine': '', 'Time': '7 Hours Ago', 'News Link': '/pro/'},
 {'HeadLine': 'Trump lawyers again push for special master to review docs in FBI raid of Mar-a-Lago',
  'Time': '7 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/08/31/trump-lawyers-again-push-for-special-master-in-fbi-raid-of-mar-a-lago.html'},
 {'HeadLine': "Asia-Pacific markets decline; China's factory activity shrinks",
  'Time': '8 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/09/01/asia-markets-china-caixin-manufacturing-pmi-south-korea-gdp-stocks.html'},
 {'HeadLine': "Cramer's lightning round: CVS Health is a buy",
  'Time': '9 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/08/31/cramers-lightning-round-cvs-health-is-a-buy.html'},
 {'HeadLine': 'Jim Cramer says he likes these 5 liquified natural gas stocks for the long haul',
  'Time': '9 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/08/31/jim-cramer-says-he-likes-these-5-liquified-natural-gas-stocks-for-the-long-haul.html'},
 {'HeadLine': 'Cramer: Expect the Fed to keep hiking until there is a real economic slowdown',
  'Time': '9 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/08/31/cramer-fed-likely-to-keep-hiking-until-theres-economic-deterioration.html'},
 {'HeadLine': 'Nvidia stock falls after U.S. government restricts chip sales to China',
  'Time': '9 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/08/31/nvidia-stock-falls-after-us-government-restricts-chip-sales-to-china.html'},
 {'HeadLine': 'Stock futures fall after Wall Street closed out August with losses',
  'Time': '9 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/08/31/stock-market-futures-open-to-close-news.html'},
 {'HeadLine': '‘House of the Dragon’ co-showrunner steps down before Season 2',
  'Time': '10 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/08/31/house-of-the-dragon-co-showrunner-miguel-sapochnik-leaving-series.html'},
 {'HeadLine': 'NASA taps SpaceX for 5 more astronaut missions worth $1.4 billion',
  'Time': '10 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/08/31/nasa-awards-spacex-1point4-billion-in-contracts-for-5-more-astronaut-missions.html'},
 {'HeadLine': '', 'Time': '10 Hours Ago', 'News Link': '/pro/'},
 {'HeadLine': 'Stocks making the biggest moves after hours: Okta, Nutanix, Five Below and more',
  'Time': '10 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/08/31/stocks-making-the-biggest-moves-after-hours-okta-nutanix-five-below-and-more-.html'},
 {'HeadLine': 'California may get a new salary transparency law soon',
  'Time': '11 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/08/31/california-may-get-new-salary-transparency-law-soon.html'},
 {'HeadLine': '', 'Time': '11 Hours Ago', 'News Link': '/pro/'},
 {'HeadLine': 'This portrait of Warren Buffett just sold for over $75,000 at a charity auction',
  'Time': '12 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/08/31/warren-buffett-autographed-portrait-raised-thousands-for-charity.html'},
 {'HeadLine': 'MicroStrategy Chair Michael Saylor accused of evading $25 million in taxes',
  'Time': '12 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/08/31/microstrategy-chairman-michael-saylor-accused-of-tax-evasion-by-dc-ag.html'},
 {'HeadLine': '', 'Time': '12 Hours Ago', 'News Link': '/investingclub/'},
 {'HeadLine': '', 'Time': '12 Hours Ago', 'News Link': '/pro/'},
 {'HeadLine': 'Despite recession fears, most 401(k) investors haven’t changed their portfolios',
  'Time': '13 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/08/31/despite-recession-fears-most-investors-havent-shifted-401k-assets.html'},
 {'HeadLine': 'Trump lawyer Eastman takes Fifth before Georgia grand jury in election probe',
  'Time': '13 Hours Ago',
  'News Link': 'https://www.cnbc.com/2022/08/31/trump-lawyer-john-eastman-takes-fifth-at-georgia-grand-jury.html'},
 {'HeadLine': '', 'Time': '13 Hours Ago', 'News Link': '/pro/'}]

In [45]:
df=pd.DataFrame(news_info)
df

,HeadLine,Time,News Link
0,Shelling erupts as UN team heads to Ukraine nu...,11 Min Ago,https://www.cnbc.com/2022/09/01/russia-tries-t...
1,Sri Lanka and IMF reach preliminary deal on $2...,2 Hours Ago,https://www.cnbc.com/2022/09/01/sri-lanka-and-...
2,"What four-day workweeks are really like, accor...",2 Hours Ago,https://www.cnbc.com/2022/09/01/how-four-day-w...
3,Europe’s evaporating rivers wreak havoc for fo...,2 Hours Ago,https://www.cnbc.com/2022/09/01/europes-evapor...
4,The world's biggest offshore wind farm is now ...,2 Hours Ago,https://www.cnbc.com/2022/09/01/huge-offshore-...
5,European markets start September on a negative...,3 Hours Ago,https://www.cnbc.com/2022/09/01/european-marke...
6,India’s 5G battle is set to be a ‘two-horse ra...,3 Hours Ago,https://www.cnbc.com/2022/09/01/india-5g-race-...
7,,6 Hours Ago,/pro/
8,Google Flights just busted a popular myth abou...,7 Hours Ago,https://www.cnbc.com/2022/09/01/cheapest-airli...
9,,7 Hours Ago,/pro/
10,Trump lawyers again push for special master to...,7 Hours Ago,https://www.cnbc.com/2022/08/31/trump-lawyers-...
11,Asia-Pacific markets decline; China's factory ...,8 Hours Ago,https://www.cnbc.com/2022/09/01/asia-markets-c...
12,Cramer's lightning round: CVS Health is a buy,9 Hours Ago,https://www.cnbc.com/2022/08/31/cramers-lightn...
13,Jim Cramer says he likes these 5 liquified nat...,9 Hours Ago,https://www.cnbc.com/2022/08/31/jim-cramer-say...
14,Cramer: Expect the Fed to keep hiking until th...,9 Hours Ago,https://www.cnbc.com/2022/08/31/cramer-fed-lik...
15,Nvidia stock falls after U.S. government restr...,9 Hours Ago,https://www.cnbc.com/2022/08/31/nvidia-stock-f...
16,Stock futures fall after Wall Street closed ou...,9 Hours Ago,https://www.cnbc.com/2022/08/31/stock-market-f...
17,‘House of the Dragon’ co-showrunner steps down...,10 Hours Ago,https://www.cnbc.com/2022/08/31/house-of-the-d...
18,NASA taps SpaceX for 5 more astronaut missions...,10 Hours Ago,https://www.cnbc.com/2022/08/31/nasa-awards-sp...
19,,10 Hours Ago,/pro/
20,Stocks making the biggest moves after hours: O...,10 Hours Ago,https://www.cnbc.com/2022/08/31/stocks-making-...
21,California may get a new salary transparency l...,11 Hours Ago,https://www.cnbc.com/2022/08/31/california-may...
22,,11 Hours Ago,/pro/
23,This portrait of Warren Buffett just sold for ...,12 Hours Ago,https://www.cnbc.com/2022/08/31/warren-buffett...
24,MicroStrategy Chair Michael Saylor accused of ...,12 Hours Ago,https://www.cnbc.com/2022/08/31/microstrategy-...
25,,12 Hours Ago,/investingclub/
26,,12 Hours Ago,/pro/
27,"Despite recession fears, most 401(k) investors...",13 Hours Ago,https://www.cnbc.com/2022/08/31/despite-recess...
28,Trump lawyer Eastman takes Fifth before Georgi...,13 Hours Ago,https://www.cnbc.com/2022/08/31/trump-lawyer-j...
29,,13 Hours Ago,/pro/

# 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 

https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

Scrape below mentioned details :

i) Paper Title 

ii) Authors

iii) Published Date 

iv) Paper URL

In [46]:
req=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup=BeautifulSoup(req.text,"html.parser")

In [47]:
result=soup.find_all('li',attrs={'class':'sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp'})
#result

In [48]:
result[0]

<li class="sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp"><article><a class="sc-5smygv-0 nrDZj" href="https://www.sciencedirect.com/science/article/pii/S0004370221000862"><h2 class="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR">Reward is enough</h2></a><p class="sc-1thf9ly-0 sc-1thf9ly-1 ljBYfY bIzabL"><span class="sc-1w3fpd7-0 pgLAT">Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. </span><em>Open Access</em><span class="sc-1thf9ly-2 bKddwo"><span>October 2021</span></span></p></article></li>

In [49]:
print(result[0].find('span',class_='sc-1thf9ly-2 bKddwo').text)
print(result[0].find('span',class_='sc-1w3fpd7-0 pgLAT').text)
print(result[0].find('a').text)
print(result[0].find('a')['href'])

October 2021
Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S.
Reward is enough
https://www.sciencedirect.com/science/article/pii/S0004370221000862

In [50]:
articles_info=[]

for r in range(len(result)):
    title=result[r].find('a').text.strip()
    authors=result[r].find('span',class_='sc-1w3fpd7-0 pgLAT').text.strip()
    pdate=result[r].find('span',class_='sc-1thf9ly-2 bKddwo').text.strip()
    paper_url=result[r].find('a')['href']
    article={'Paper Title':title,'Authors':authors,'Published Date':pdate,'Paper URL':paper_url}
    articles_info.append(article)
    
articles_info

[{'Paper Title': 'Reward is enough',
  'Authors': 'Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S.',
  'Published Date': 'October 2021',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370221000862'},
 {'Paper Title': 'Making sense of raw input',
  'Authors': 'Evans, Richard, Bošnjak, Matko and 5 more',
  'Published Date': 'October 2021',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370221000722'},
 {'Paper Title': 'Law and logic: A review from an argumentation perspective',
  'Authors': 'Prakken, Henry, Sartor, Giovanni',
  'Published Date': 'October 2015',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370215000910'},
 {'Paper Title': 'Creativity and artificial intelligence',
  'Authors': 'Boden, Margaret A.',
  'Published Date': 'August 1998',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370298000551'},
 {'Paper Title': 'Artificial cognition for social human–robot interaction: An implementation',
  'Authors': 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
  'Published Date': 'June 2017',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370216300790'},
 {'Paper Title': 'Explanation in artificial intelligence: Insights from the social sciences',
  'Authors': 'Miller, Tim',
  'Published Date': 'February 2019',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370218305988'},
 {'Paper Title': 'Making sense of sensory input',
  'Authors': 'Evans, Richard, Hernández-Orallo, José and 3 more',
  'Published Date': 'April 2021',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370220301855'},
 {'Paper Title': 'Conflict-based search for optimal multi-agent pathfinding',
  'Authors': 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R.',
  'Published Date': 'February 2015',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370214001386'},
 {'Paper Title': 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
  'Authors': 'Sutton, Richard S., Precup, Doina, Singh, Satinder',
  'Published Date': 'August 1999',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370299000521'},
 {'Paper Title': 'The Hanabi challenge: A new frontier for AI research',
  'Authors': 'Bard, Nolan, Foerster, Jakob N. and 13 more',
  'Published Date': 'March 2020',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370219300116'},
 {'Paper Title': 'Evaluating XAI: A comparison of rule-based and example-based explanations',
  'Authors': 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark',
  'Published Date': 'February 2021',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370220301533'},
 {'Paper Title': 'Argumentation in artificial intelligence',
  'Authors': 'Bench-Capon, T.J.M., Dunne, Paul E.',
  'Published Date': 'October 2007',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370207000793'},
 {'Paper Title': 'Algorithms for computing strategies in two-player simultaneous move games',
  'Authors': 'Bošanský, Branislav, Lisý, Viliam and 3 more',
  'Published Date': 'August 2016',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370216300285'},
 {'Paper Title': 'Multiple object tracking: A literature review',
  'Authors': 'Luo, Wenhan, Xing, Junliang and 4 more',
  'Published Date': 'April 2021',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370220301958'},
 {'Paper Title': 'Selection of relevant features and examples in machine learning',
  'Authors': 'Blum, Avrim L., Langley, Pat',
  'Published Date': 'December 1997',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370297000635'},
 {'Paper Title': 'A survey of inverse reinforcement learning: Challenges, methods and progress',
  'Authors': 'Arora, Saurabh, Doshi, Prashant',
  'Published Date': 'August 2021',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370221000515'},
 {'Paper Title': 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
  'Authors': 'Aas, Kjersti, Jullum, Martin, Løland, Anders',
  'Published Date': 'September 2021',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370221000539'},
 {'Paper Title': 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
  'Authors': 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes',
  'Published Date': 'June 2021',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370221000096'},
 {'Paper Title': 'Integrating social power into the decision-making of cognitive agents',
  'Authors': 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.',
  'Published Date': 'December 2016',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370216300868'},
 {'Paper Title': "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
  'Authors': 'Riveiro, Maria, Thill, Serge',
  'Published Date': 'September 2021',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370221000588'},
 {'Paper Title': 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
  'Authors': 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T.',
  'Published Date': 'May 2021',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370221000102'},
 {'Paper Title': 'Algorithm runtime prediction: Methods & evaluation',
  'Authors': 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin',
  'Published Date': 'January 2014',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370213001082'},
 {'Paper Title': 'Wrappers for feature subset selection',
  'Authors': 'Kohavi, Ron, John, George H.',
  'Published Date': 'December 1997',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S000437029700043X'},
 {'Paper Title': 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
  'Authors': 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna',
  'Published Date': 'October 2021',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370221000734'},
 {'Paper Title': 'Quantum computation, quantum theory and AI',
  'Authors': 'Ying, Mingsheng',
  'Published Date': 'February 2010',
  'Paper URL': 'https://www.sciencedirect.com/science/article/pii/S0004370209001398'}]

In [51]:
df=pd.DataFrame(articles_info)
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# 9) Write a python program to scrape mentioned details from dineout.co.in :

i) Restaurant name

ii) Cuisine

iii) Location 

iv) Ratings

v) Image URL

In [52]:
req=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup=BeautifulSoup(req.text,"html.parser")

In [53]:
result=soup.find_all('div',attrs={'class':'restnt-card restaurant'})
#result

In [54]:
result[0]

<div class="restnt-card restaurant"><div class="restnt-main-wrap clearfix"><div class="img-wrap"><div analytics-action="RestaurantImageClick" analytics-label="86792_Castle Barbeque" class="img cursor" data-link="/delhi/castle-barbeque-connaught-place-central-delhi-86792" data-w-onclick="cardClickHandler|w1-restarant"><img alt="Castle Barbeque" class="lazy-load-img no-img" data-gatype="RestaurantImageClick" data-src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium" data-url="/delhi/castle-barbeque-connaught-place-central-delhi-86792" data-w-onclick="cardClickHandler"/></div><div class="restnt-rating rating-4">4.1</div></div><div class="restnt-detail-wrap"><div analytics-action="RestaurantCardClick" analytics-label="86792_Castle Barbeque" class="restaurant-info-section restnt-detail" data-link="/delhi/castle-barbeque-connaught-place-central-delhi-86792" data-w-onclick="cardClickHandler|w1-restarant"><div class="restnt-rating-widget pull-right text-right"><div class="restnt-rating rating-4 hide">4.3</div><div class="rating-txt hide">232 votes</div></div><div class="restnt-info cursor" data-gatype="RestaurantNameClick"><a analytics-action="RestaurantCardClick" analytics-label="86792_Castle Barbeque" class="restnt-name ellipsis" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/delhi/castle-barbeque-connaught-place-central-delhi-86792">Castle Barbeque</a><div class="restnt-loc ellipsis" data-w-onclick="stopClickPropagation|w1-restarant"><a data-name="Connaught Place" data-type="LocalityClick" href="/delhi-restaurants/central-delhi/connaught-place">Connaught Place</a>, <a data-name="Central Delhi" data-type="AreaClick" href="/delhi-restaurants/central-delhi">Central Delhi</a></div></div><div class="detail-info"><ul><li><span class="double-line-ellipsis"><span>₹ 2,000 for 2 (approx)</span><span> | </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/chinese-cuisine">Chinese</a><span>, </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/north-indian-cuisine">North Indian</a></span></li><li class="ellipsis"></li></ul></div><div class="add-new-section" style="white-space: nowrap; overflow-x: auto;"><a analytics-action="RestTagClick" analytics-label="Dineout Pay" class="btn pay cursor" data-link="/dineout-pay/instant-discount/how-it-works" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/dineout-pay/instant-discount/how-it-works" rel="noopener" style="color:#F67373;background:#FFF4F4" target="_blank">Dineout Pay<img class="lazy-load-img" data-src="https://im1.dineout.co.in/images/uploads/misc/2019/Jan/17/information.png"/></a></div></div></div></div></div>

In [55]:
print(result[0].find('div',class_='restnt-rating rating-4 hide').text)
print(result[0].find('img')['data-src'])
print(result[0].find('a').text)
#print(result[0].find('span').find_all('a')[0].text)

foods=[]
for i in result[0].find('span').find_all('a'):
    foods.append(i.text)
    
print(','.join(foods))

loc_info=[]
for j in result[0].find('div',class_='restnt-loc ellipsis').find_all('a'):
    loc_info.append(j.text)
    
print(','.join(loc_info))

4.3
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium
Castle Barbeque
Chinese,North Indian
Connaught Place,Central Delhi

In [56]:
restaurant_info=[]

for r in range(len(result)):
    res_name=result[r].find('a').text.strip()
    foods=[]
    for i in result[r].find('span').find_all('a'):
        foods.append(i.text)
    cuisine=','.join(foods)
    loc_info=[]
    for j in result[r].find('div',class_='restnt-loc ellipsis').find_all('a'):
        loc_info.append(j.text)
    location=','.join(loc_info)
    rating=result[r].find('div',class_='restnt-rating rating-4').text
    image_url=result[r].find('img')['data-src']
    restaurant={'Restaurant name':res_name,'Cuisine':cuisine,'Location':location,'Ratings':rating,'Image URL':image_url}
    restaurant_info.append(restaurant)
    
restaurant_info

[{'Restaurant name': 'Castle Barbeque',
  'Cuisine': 'Chinese,North Indian',
  'Location': 'Connaught Place,Central Delhi',
  'Ratings': '4.1',
  'Image URL': 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium'},
 {'Restaurant name': 'Jungle Jamboree',
  'Cuisine': 'North Indian,Asian,Italian',
  'Location': '3CS Mall,,Lajpat Nagar - 3,South Delhi',
  'Ratings': '3.9',
  'Image URL': 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium'},
 {'Restaurant name': 'Cafe Knosh',
  'Cuisine': 'Italian,Continental',
  'Location': 'The Leela Ambience Convention Hotel,,Shahdara,East Delhi',
  'Ratings': '4.3',
  'Image URL': 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium'},
 {'Restaurant name': 'Castle Barbeque',
  'Cuisine': 'Chinese,North Indian',
  'Location': 'Pacific Mall,,Tagore Garden,West Delhi',
  'Ratings': '3.9',
  'Image URL': 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium'},
 {'Restaurant name': 'The Barbeque Company',
  'Cuisine': 'North Indian,Chinese',
  'Location': 'Gardens Galleria,,Sector 38A,Noida',
  'Ratings': '4',
  'Image URL': 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium'},
 {'Restaurant name': 'India Grill',
  'Cuisine': 'North Indian,Italian',
  'Location': 'Hilton Garden Inn,,Saket,South Delhi',
  'Ratings': '3.9',
  'Image URL': 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium'},
 {'Restaurant name': 'Delhi Barbeque',
  'Cuisine': 'North Indian',
  'Location': 'Taurus Sarovar Portico,,Mahipalpur,South Delhi',
  'Ratings': '3.7',
  'Image URL': 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium'},
 {'Restaurant name': 'The Monarch - Bar Be Que Village',
  'Cuisine': 'North Indian',
  'Location': 'Indirapuram Habitat Centre,,Indirapuram,Ghaziabad',
  'Ratings': '3.8',
  'Image URL': 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium'},
 {'Restaurant name': 'Indian Grill Room',
  'Cuisine': 'North Indian,Mughlai',
  'Location': 'Suncity Business Tower,,Golf Course Road,Gurgaon',
  'Ratings': '4.3',
  'Image URL': 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium'}]

In [57]:
df=pd.DataFrame(restaurant_info)
df

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"Chinese,North Indian","Connaught Place,Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian,Asian,Italian","3CS Mall,,Lajpat Nagar - 3,South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian,Continental","The Leela Ambience Convention Hotel,,Shahdara,...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese,North Indian","Pacific Mall,,Tagore Garden,West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian,Chinese","Gardens Galleria,,Sector 38A,Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian,Italian","Hilton Garden Inn,,Saket,South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,,Mahipalpur,South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,,Indirapuram,Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian,Mughlai","Suncity Business Tower,,Golf Course Road,Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

# 10) Write a python program to scrape the details of top publications from Google Scholar from 

https://scholar.google.com/citations?view_op=top_venues&hl=en

i) Rank 

ii) Publication

iii) h5-index

iv) h5-median

In [58]:
data=requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
soup=BeautifulSoup(data.text,"html.parser")

In [59]:
df=pd.DataFrame(columns=['Rank','Publication','h5-index','h5-median'])
table = soup.find('table', class_='gsc_mp_table')

In [60]:
for row in table.find_all('tr'):    
    # Find all data for each column
    columns = row.find_all('td')
    if(columns!=[]):
        c1=columns[0].text
        c2=columns[1].text
        c3=columns[2].text
        c4=columns[3].text
print(c1)
print(c2)
print(c3)
print(c4)

100.
IEEE Internet of Things Journal
144
212

In [61]:
for row in table.find_all('tr'):    
    # Find all data for each column
    columns = row.find_all('td')
    if(columns!=[]):
        rank=columns[0].text.strip()
        publication=columns[1].text.strip()
        hFive_index=columns[2].text.strip()
        hFive_median=columns[3].text.strip()
        df=df.append({'Rank':rank,'Publication':publication,'h5-index':hFive_index,'h5-median':hFive_median},ignore_index=True)

In [62]:
df

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]